<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | News Site</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://kit.fontawesome.com/c3c9af520c.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,400&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/news/inicio">NEWS SITE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header navbg">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body navbg">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link px-3" aria-current="page" href="/news/inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="/news/galeria">Galería</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active px-3" href="/news/administracion">Panel de Administracion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <section>
        <div class="container-fluid">
            <div class="row title-admin-row d-flex justify-content-center align-items-center">
                <h3 class="titleAdmin">PANEL ADMINISTRACIÓN</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="container my-5">
            <div class="row uploadNewsRow">
                <h2 class="text-center my-5">Agregar Noticia</h2>
                <form action="/news/upload" method="POST" class="uploadForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control upload-input " id="title" placeholder="Titulo" name="title">
                        <label for="title" class="lbl-upload"> Título </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control upload-input " id="body" placeholder="Texto" name="body">
                        <label for="body" class="lbl-upload"> Texto </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control upload-input " id="imgUrl" placeholder="URL de imagen" name="imgUrl">
                        <label for="imgUrl" class="lbl-upload"> URL de imagen </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control upload-input" id="publishedDate" placeholder="Fecha de publicación" name="publishedDate">
                        <label for="publishedDate" class="lbl-upload">Fecha de publicación</label>
                    </div>
                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                        <p th:text="${error}"></p>
                    </div>
                    <div th:if="${success != null}" class="alert alert-success" role="alert">
                        <p th:text="${success}"></p>
                    </div>
                    <button type="submit" class="btn btn-upload"> Subir publicación </button>
                </form>
            </div>
        </div>
    </section>
    <section>

        <div class="container">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th scope="col" class="th-news">Titulo</th>
                        <th scope="col" class="th-news">Cuerpo</th>
                        <th scope="col" class="th-news">URL de imagen</th>
                        <th scope="col" class="th-news">Fecha de Publicación</th>
                        <th scope="col" class="th-news">Acciones</th>
                    </tr>
                    </thead>
                    <tbody th:each="news: ${newsList}" class="tbody-news">
                    <tr>
                        <th scope="row" th:text="${news.title}"></th>
                        <td th:text="${news.body}"></td>
                        <td th:text="${news.imgUrl}"></td>
                        <td th:text="${news.publishedDate}"></td>
                        <td class="td-actions">
                            <a th:href="@{/news/edit/__${news.id}__}" ><i class="fa-solid fa-pen-to-square fs-4 text-dark"></i></a>
                            <form th:action="@{/news/delete/__${news.id}__}" method="POST" style="display: inline;">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer;">
                                    <i class="fa-solid fa-trash-can fs-4 text-danger"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container-fluid">
        <div class="row news-footer-row">
            <a class="footer-brand text-center" href="/news/inicio">NEWS SITE</a>
            <ul>
                <li class="footer-item text-center">
                    <a class="footer-link ps-3" aria-current="page" href="/news/inicio">Inicio</a>
                </li>
                <li class="footer-item text-center">
                    <a class="footer-link ps-3" aria-current="page" href="/news/galeria">Galería</a>
                </li>
                <li class="footer-item text-center">
                    <a class="footer-link ps-3" aria-current="page" href="/news/administracion">Panel de Administración</a>
                </li>
            </ul>
            <div class="text-center">
                <a href="https://www.linkedin.com/in/victoriacavanna/" target="_blank"><i class="fa-brands fa-linkedin-in greenText" aria-hidden="true"></i></a>
                <a href="https://github.com/victoriacavanna" target="_blank"><i class="fa-brands fa-github greenText" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>